JOBS/*/TMP/*
JOBS/*/OUTPUT/*
util/__pycache/
__pycache__/
cache/
JOBS/*/INPUT/*.nc
JOBS/*/INPUT/*.gpkg
JOBS/*/INPUT/*.003
JOBS/*/INPUT/*.006
JOBS/*/INPUT/*.tif
JOBS/*/INPUT/*shp
JOBS/*/INPUT/*SHP
.ipynb_checkpoints/
*.ipynb
